# Deep Learning
torch
torchvision

# NLP & Text Processing
transformers
spacy
nltk
sentence-transformers

# Machine Learning
scikit-learn
numpy
pandas

# Data Processing & File Handling
python-dotenv
requests
pillow

# Utilities
tqdm

# logging
wandb